<nav id="navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <a class="navbar-brand" href="./">
            <img
              src="/images/georama_logo_2.png"
              style="width: 52px; height: auto; margin-top: 8px"
              alt="Georama Logo"
            />
          </a>
        
          <span class="navbar-title mx-auto">georama.io</span>
        </div>


        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav">
            <li>
              <a href="/index.html#highlights" title="Highlights">HIGHLIGHTS</a>
            </li>
            <li class="dropdown"></li>
            <!-- <li>
              <a href="/assistance.html" title="Get assistance"
                >GET ASSISTANCE</a
              >
            </li> -->

            <li>
              <a
                href="https://opengis.ch/#contact"
                target="_blank"
                title="Contact us"
                >CONTACT US</a
              >
            </li>
            <li class="get-started-button"><a href="https://docs.georama.io" target="_blank" title="Get started"><i class="fas fa-rocket"></i> GET STARTED</a></li>
          <!-- <li class="support-button">
              <a href="/support-us.html" title="Support us">♥ SUPPORT US</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
